{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    <button type="button" class="btn mt-2 btn-secondary">Add to watchlist</button>

    
    <div class="col-md-3 px0">
        <img class="img-fluid card-img-top" src="{{ listing.image }}" alt="image">
    </div>
    <div class="card-body ml-4">
        <h1 class="card-title p-8">{{ listing.title }}</h1>
        <h5><strong>price:</strong> ${{ current_price }}</h5>
    </div>

    {% if message %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endif %}


    {% if listing.active %}
        {% if own_listing %}
            <form action="{% url 'listing' id=listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" name="listing_form" value="end" class="btn btn-danger">End Bidding!</button>
            </form>
        {% else %}
            <form action="{% url 'listing' id=listing.id %}" method="post">
                <div class="form-group">
                    <label for="bid">Bid</label>
                    <input class="form-control" type="number" name="bid">
                </div>
                {% csrf_token %}
                <button class="btn btn-primary" name="listing_form" value="bid" type="submit">Place Bid</button>
            </form> 
        {% endif %}
    {% else %}
        <h5 class="mt-5"><strong>Listing has ended!</strong></h5>
        {% if winner %}
            <div class="alert alert-success" role="alert">
                <p>Congratulations! you are the winner of this bid</p>
            </div>
        {% endif %}
    {% endif %} 

    <h5 class="mt-5"><strong>Details</strong></h5>
    <ul class="mb-5">
        <li>Listed by: <a href="#">{{ listing.created_by }}</a></li>
        <li>Category: <a href="{% url 'category' listing.category.id %}">{{ listing.category.name }}</a></li>
    </ul>

    <!-- Post a comment -->
    <form action=""  method="post">
        <div class="form-group">
            <label for="comment">Create a comment!</label>
            <textarea class="form-control" name="comment"></textarea>
        </div>
        {% csrf_token %}
        <button class="btn btn-primary" name="listing_form" value="comment" type="submit">Post Comment</button>
    </form>

    <!-- Display comments -->
    <h5 class="mt-5"><strong>Comments</strong></h5>
    {% for comment in comments %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text">{{ comment.comment }}</p>
                <p class="card-text"><small class="text-muted">Posted by <a href="#">{{ comment.created_by }}</a> on {{ comment.created_at }}</small></p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
